@import "./colors.scss";
@mixin flex-container() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin btn() {
  width: 170px;
  height: 45px;
  background: $highlight;
  @include flex-container();
  justify-content: center;
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
  transition: 0.5s;
  &:hover {
    background: transparent;
    box-shadow: 0 0 10px 0 $highlight inset, 0 0 10px 4px $highlight;
  }
}
@mixin paragraph() {
  color: $textcolor;
  max-width: 600px;
  margin-bottom: 30px;
  span {
    color: $highlight;
    text-decoration: underline;
  }
}
@mixin logo() {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: $lightcolor;
  position: relative;
  font-family: "Open Sans Condensed";
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 355px;
    height: 0px;
    border: 1px solid $highlight;
    top: 44%;
    left: -264%;
  }
}
@mixin switch() {
  button {
    color: $highlight;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      color: $lightcolor;
      span {
        background: $lightcolor;
      }
    }
    &:first-child {
      padding-bottom: 33px;
      position: relative;
      left: -53px;
    }
    &:last-child {
      padding-left: 12px;
    }
    span {
      margin-top: 4px;
      width: 79px;
      height: 1px;
      background: $highlight;
      transition: 0.5s;
      &:first-child {
        margin-right: 11px;
      }
      &:last-child {
        margin-left: 14px;
      }
    }
  }
}
@mixin item-number(){
  position: absolute;
  z-index: 2;
  font-weight: 300;
  font-size: 180px;
  line-height: 245px;
  color: $lightcolor;
  opacity: 0.5;
}