 @import './colors.scss';
 @mixin flex-container() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin btn() {
  width: 170px;
  height: 45px;
  background: $highlight;
  @include flex-container();
  justify-content: center;
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
  transition:0.5s;
  &:hover{
    background: transparent;
    box-shadow: 0 0 10px 0 $highlight inset, 0 0 10px 4px $highlight;
  }
}
@mixin paragraph(){
  color: $textcolor;
  max-width: 600px;
  margin-bottom: 30px;
  span {
    color: $highlight;
    text-decoration: underline;
  }
}