@import "../../template/mixin.scss";
@import "../../template/colors.scss";
.about {
  padding-bottom: 268px;
  &__container {
    padding: 0 100px;
    max-width: 1440px;
    position: relative;
  }
  &__info {
    position: absolute;
    max-width: 370px;
    height: 354px;
    background: $highlight;
    z-index: 3;
    top: 155px;
    left: -42px;
    @include flex-container();
    justify-content: center;
    padding: 8px 38px 0px;
    &_text {
      color: $lightdarkcolor;
      font-weight: 600;
      text-align: center;
    }
  }
  &__background {
    @include flex-container();
    justify-content: end;
    padding-right: 140px;
  }
  &__block {
    max-width: 1040px;
    width: 100%;
    height: 367px;
    background: $darkcolor;
    position: relative;
    padding: 35px 50px 0 35px;
    h2 {
      max-width: 525px;
      margin-bottom: 23px;
      span {
        background: $lightcolor;
      }
    }
  }
  &__text {
    @include paragraph();
    max-width: 615px;
    margin: 0 auto;
    padding-left: 28px;
  }
  &__icons {
    @include flex-container();
    max-width: 586px;
    margin: 0 auto;
    position: relative;
    top: 78px;
    padding-left: 16px;
  }
  &__icon {
    width: 170px;
    height: 170px;
    background: $lightcolor;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    @include flex-container();
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    img {
      margin-bottom: 15px;
    }
    span {
      font-size: 18px;
      line-height: 25px;
      color: $lightdarkcolor;
      font-weight: 600;
    }
  }
}
@media screen and (max-width: 1550px) {
  .about {
    &__info {
      left: 10px;
    }
    &__background {
      padding-right: 0px;
    }
  }
}
@media screen and (max-width: 1330px) {
  .about {
    &__container {
      padding: 0px;
      flex-direction: column;
      @include flex-container();
      justify-content: center;
    }
    &__info {
      position: static;
      width: 100%;
      max-width: 1236px;
    }
    &__background {
      width: 100%;
      justify-content: center;
    }
    &__block{
      max-width: 1236px;
    }
  }
}
@media screen and (max-width: 820px) {
  .about {
    padding-bottom: 50px;
    &__container {
      padding: 0px;
    }
    &__icons {
      padding-left: 0px;
      top: 0px;
    }
    &__icon {
      width: 125px;
      height: 125px;
      margin: 10px;
    }
  }
}
@media screen and (max-width: 680px) {
  .about {
    &__icons {
      flex-direction: column;
    }
    &__block {
      min-height: 367px;
      height: auto;
    }
  }
}
