@import "../src/template/colors.scss";
@import "../src/template/mixin.scss";
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  font-weight: 400;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $lightcolor;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}

input {
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent; /*  прозрачность фона */
  border: none;
}
.container {
  max-width: 1753px;
  padding: 0px 298px 0 17px;
  margin: 0 auto;
}
h2 {
  color: $lightcolor;
  font-family: "Playfair Display";
  font-size: 60px;
  position: relative;
  z-index: 2;
  font-weight: 400;
  @include flex-container();
  span {
    max-width: 305px;
    width: 100%;
    height: 3px;
    background: $lightdarkcolor;
  }
}
h3 {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 56px;
}
.btn {
  @include btn();
}
.btn_black {
  &:hover {
    color: $lightcolor;
  }
}
@media screen and (max-width: 1700px) {
  .container {
    padding: 0px 10px 0 10px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    padding: 0px 10px 0 10px;
  }
  h2 {
    font-size: 45px;
    display: flex;
    flex-direction: column-reverse;
  }
}

@keyframes move-top {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes move-bottom {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.transition-top {
  animation-name: move-top;
  animation-duration: 0.5s;
}
.transition-bottom {
  animation-name: move-bottom;
  animation-duration: 0.5s;
}
@media screen and (max-width: 420px) {
  @keyframes move-top {
    0% {
      opacity: 0;
      top: -100px;
    }
    100% {
      opacity: 1;
      top: 50px;
    }
  }

  @keyframes move-bottom {
    0% {
      opacity: 0;
      top: 100px;
    }
    100% {
      opacity: 1;
      top: 50px;
    }
  }
}
