@import "../../template/mixin.scss";
@import "../../template/colors.scss";
.selected {
  padding-top: 60px;
  color: $lightdarkcolor;
  padding-bottom: 154px;
  h2 {
    color: $lightdarkcolor;
    max-width: 720px;
    padding-left: 13px;
    margin-bottom: 26px;
  }
  p {
    max-width: 1171px;
    padding-left: 1px;
    margin: 0 auto;
    margin-bottom: 77px;
  }
  &__block {
    @include flex-container();
    padding-right: 95px;
    align-items: start;
    overflow: hidden;
  }
  &__case {
    padding-top: 58px;
    @include flex-container();
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    &_item {
      @include item-number();
      z-index: 3;
      top: -30px;
      color: $lightdarkcolor;
      opacity: 0.1;
      left: 164px;
      font-size: 120px;
      line-height: 163px;
    }
    &_img1 {
      display: inline-flex;
      padding-left: 29px;
      padding-top: 90px;
      position: relative;
      z-index: 2;
      margin-right: 41px;
    }
    &_img2 {
      position: absolute;
      top: 0;
      left: 335px;
    }
    .btn {
      &:hover {
        color: $lightdarkcolor;
      }
    }
  }
  &__text {
    padding-left: 13px;
    max-width: 418px;
    padding-top: 80px;
    position: relative;
    h3 {
      padding-right: 19px;
      margin-bottom: 37px;
      text-align: center;
      position: relative;
    }
    p {
      position: relative;
      line-height: 22px;
      height: 88px;
    }
  }
  &__btn {
    @include switch();
    position: relative;
    bottom: -56px;
    display: flex;
    flex-direction: column;
    button {
      color: $lightdarkcolor;
      display: flex;
      justify-content: end;
      margin-bottom: 0px;
      &:first-child {
        left: -87px;
        padding-bottom: 36px;
      }
      &:last-child {
        padding-right: 25px;
      }
      span {
        background: $lightdarkcolor;
      }
      &:hover {
        color: $highlight;
        span {
          background: $highlight;
        }
      }
    }
  }
}
@media screen and (max-width: 1720px) {
  .selected {
    &__block {
      padding-right: 30px;
    }
  }
}
@media screen and (max-width: 1370px) {
  .selected {
    padding-bottom: 60px;
    &__block {
      padding-right: 0px;
      flex-direction: column-reverse;
      align-items: center;
    }
    p {
      margin-bottom: 0px;
    }
    &__case {
      width: 910px;
    }
    &__text {
      max-width: 100%;
    }
    &__btn {
      bottom: 0px;
      margin-bottom: 25px;
      button {
        justify-content: start;
        &:first-child {
          left: 0px;
        }
        &:last-child {
          padding-left: 75px;
        }
      }
    }
  }
}
@media screen and (max-width: 930px) {
  .selected {
    &__btn {
      padding-top: 30px;
      button {
        justify-content: center;
      }
    }
    p {
      margin-bottom: 0px;
    }
    &__case {
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding-top: 0px;
      &_item {
        top: -154px;
        left: 0;
      }
      &_img2 {
        position: relative;
        left: 0px;
        width: 100%;
        max-width: 400px;
      }
      &_img1 {
        width: 100%;
        max-width: 400px;
        padding-top: 20px;
        padding-left: 0px;
        margin-right: 0px;
      }
      &_btn {
        margin-top: 20px;
      }
    }
    &__text {
      padding-left: 0px;
      padding-top: 35px;
    }
  }
}
@media screen and (max-width: 550px) {
  .selected {
    &__text {
      h3 {
        font-size: 35px;
        padding: 0px;
      }
    }
    p {
      margin-bottom: 30px;
    }
    &__case {
      &_item {
        top: -140px;
        font-size: 80px;
      }
    }
    &__btn {
      button {
        justify-content: flex-end;
      }
    }
  }
}
