@import "../../template/fonts.scss";
@import "../../template/mixin.scss";
@import "../../template/colors.scss";

.header {
  background: $highlight;
  &__wrapper {
    padding-top: 71px;
    padding-bottom: 147px;
    position: relative;
  }
}
.title {
  @include logo();
  left: -53px;
}

.promo {
  background: $lightdarkcolor;
  border-radius: 50px 50px 0 0;
  padding: 25px 62px 158px 135px;
  nav {
    padding-bottom: 39px;
    @include flex-container();
  }
  &__social {
    padding-left: 5px;
    a {
      svg {
        transition: 0.5s;
      }
      &:first-child {
        margin-right: 30px;
      }
      &:hover {
        svg {
          transform: scale(1.1);
          path {
            fill: $highlight;
          }
        }
      }
    }
  }
  &__button {
    width: 50px;
    height: 50px;
    background: $highlight;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      width: 2px;
      height: 31px;
      background: $lightdarkcolor;
      &:first-child {
        margin-right: 7px;
        margin-bottom: 6px;
      }
      &:last-child {
        margin-top: 6px;
      }
    }
  }
  &__middle {
    position: relative;
    h2 {
      max-width: 364px;
      padding: 153px 0px 83px 0px;
      &::before {
        display: none;
      }
    }
    &_btn {
      @include switch();
    }
  }
  &__image {
    position: absolute;
    right: 0px;
    z-index: 1;
    &_item {
      position: absolute;
      z-index: 2;
      bottom: -245px;
      right: 10px;
      font-weight: 300;
      font-size: 180px;
      line-height: 245px;
      letter-spacing: -0.145em;
      color: $lightcolor;
      opacity: 0.5;
    }
  }
}
.aside {
  position: absolute;
  right: 5%;
  top: 273px;
  transform: rotate(-90deg);
  .title {
    width: fit-content;
    font-size: 57.4545px;
    &::before {
      border: 1px solid $lightdarkcolor;
      width: 637px;
      left: auto;
      right: 164px;
    }
  }
}
@media screen and (max-width: 1700px) {
  .aside {
    display: none;
  }
}
@media screen and (max-width: 1450px) {
  .header {
    &__wrapper {
      padding-bottom: 0px;
    }
  }
  .promo {
    &__image {
      width: 900px;
    }
  }
}
@media screen and (max-width: 1290px) {
  .promo {
    padding-bottom: 63px;
    padding-left: 62px;
    &__image {
      width: 700px;
    }
  }
  .title {
    &::before {
      width: 180px;
      left: -130%;
    }
  }
}
@media screen and (max-width: 1080px) {
  .promo {
    padding-bottom: 66px;
    &__image {
      width: 500px;
    }
    &__middle {
      h2 {
        padding-top: 0px;
      }
    }
  }
}
@media screen and (max-width: 880px) {
  .promo {
    padding-bottom: 67px;
    &__image {
      width: 400px;
    }
    &__middle {
      h2 {
        font-size: 50px;
        max-width: 300px;
      }
    }
  }
  .title {
    &::before {
      width: 100px;
      left: -50%;
    }
  }
}
@media screen and (max-width: 700px) {
  .promo {
    padding-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;
    &__image {
      width: 350px;
    }
    &__middle {
      h2 {
        max-width: 300px;
        padding-bottom: 35px;
      }
      &_btn {
        p {
          span {
            width: 30px;
          }
          &:first-child {
            left: 0px;
          }
        }
      }
    }
  }
  .title {
    left: 0px;
  }
}
@media screen and (max-width: 520px) {
  .promo {
    &__image {
      width: 280px;
    }
    &__middle {
      h2 {
        font-size: 35px;
        max-width: 180px;
        padding-bottom: 18px;
      }
      &_btn {
        p {
          &:first-child {
            padding-bottom: 10px;
          }
          &:last-child {
            padding-left: 0px;
          }
          span {
            width: 10px;
            &:last-child {
              margin-left: 0px;
            }
            &:first-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
  .title {
    font-size: 20px;
    &::before {
      display: none;
    }
  }
}
@media screen and (max-width: 420px) {
  .promo {
    padding-bottom: 54px;
    &__image {
      width: 200px;
      top: 50px;
    }
    nav {
      padding-bottom: 15px;
    }
    &__social {
      a {
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
}
